html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        style
            include ../../assets/css/normalize.css
            include ../../assets/scss/vars.scss
            include ../../assets/scss/fonts.scss
            include cards.scss
    body
.find._border._bRadius._bShadow._flex
    h1 Найдём номера под ваши пожелания
    ._inlineFlex
        .date
            span ПРИБЫТИЕ 
            input(type="date").input_150
        .date
            span  ВЫЕЗД
            input(type="date").input_150
    span ГОСТИ
    input(type="text" placeholder="СКОЛЬКО ГОСТЕЙ").input_320 
    input(type="button" value="ПОДОБРАТЬ НОМЕР").input_320.btn.btn_big
.reserv
.calendar
.signUp
.singIn
.block