html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        style
            include ../../scss/fonts.scss
            include cards.scss
    body
.find
    h1 Найдём номера под ваши пожелания
    .date
        span ПРИБЫТИЕ 
        input(type="date")
    .date
        span  ВЫЕЗД
        input(type="date")
    span ГОСТИ
    input(type="range")
    input(type="button" value="ПОДОБРАТЬ НОМЕР")
.reserv
.calendar
.signUp
.singIn
.block