@font-face {
    font-family: "Montserrat-bold"
    src: url('/src/fonts/bold/Montserrat.woff') format("woff"),
        url('/src/fonts/bold/Montserrat.ttf') format("truetype"),
        url('/src/fonts/bold/Montserrat.svg') format("svg");
}
@font-face {
    font-family: "Montserrat-regular"
    src: url('/src/fonts/regular/Montserrat.woff'),
        url('/src/fonts/regular/Montserrat.ttf'),
        url('/src/fonts/regular/Montserrat.svg');
}